app==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
config==0.4.2
Flask==1.1.1
Flask-JSON==0.3.4
Flask-Login==0.4.1
Flask-WTF==0.14.2
get==2019.4.13
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
post==2019.4.13
psycopg2==2.8.4
psycopg2-binary==2.8.4
public==2019.4.13
query-string==2019.4.13
repoze.lru==0.7
requests==2.22.0
Routes==2.4.1
six==1.13.0
urllib3==1.25.7
virtualenv==16.7.7
Werkzeug==0.16.0
WTForms==2.2.1
