
{% extends "layout.html" %}
{% block content %}
    <script src="{{ url_for('static', filename='home/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/main.js') }}"></script>
    {% for empList in empList %}
       <article class="media content-section" id="item">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{  empList.name_of_product }}</a>
              <small class="text-muted">{{ empList.product_description }}</small>
                <small class="text-muted">{{ empList.price }}</small>
            </div>


            <img class="article-content" src= "{{ url_for('static', filename='image_product/') }}{{ empList.image }}" alt="Квадрат" width="200" height="200">
          </div>

        <button class="products-btn" name="btn" id="{{ empList.id_product }}" onclick="box1(--id)">Добавить в корзину</button>

       </article>




    {% endfor %}


     {% if current_user.is_authenticated %}
     <button class="Order" name="btn" id="{{ empDict2 }}" onclick= "item()">Оформить заказ</button>
    {% else %}
    <a class="nav-item nav-link" href="{{ url_for('login') }}">Авторизуйтесь чтоб оформить заказ</a>
    {% endif %}

     <div class="mini-cart"></div>
     <h2><a class="article-title" id="product1" href="#">{{ empList.id_product }}</a></h2>
{% endblock content %}
    <button class="main-btn" name="btn" id="1" >Добавить в корзину</button>
    <script src="{{ url_for('static', filename='home/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/main.js') }}"></script>
</body>

</html>
