


{% extends "layout.html" %}
{% block content %}
    <script src="{{ url_for('static', filename='home/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/js/cart.js') }}"></script>

    <main>
    <div class="main-cart">
    <div class="del-goods">

    </div>
    </div>
    <div class="send-id-price">
        {% if current_user.is_authenticated %}
        <p><button class="send-all">Заказать </button></p>
        {% else %}
        <a class="nav-item nav-link login-link" href="{{ url_for('login') }}">Авторизуйтесь чтоб оформить заказ</a>
        {% endif %}




    </div>
</main>

{% endblock content %}